   importFrom("rgl", "points3d", "abclines3d","ellipse3d",
"plot3d","title3d","lines3d","play3d","spin3d","rgl.bringtotop",
"rgl.surface","surface3d","grid3d","axes3d","planes3d","bg3d","par3d","view3d",
"open3d","mfrow3d","rgl.clear")
      importFrom("grDevices", "dev.new", "grey", "rgb", "x11")
    importFrom("graphics", "abline", "grid", "hist", "lines", "pairs",
               "par", "plot", "points", "rect", "segments", "title")
    importFrom("stats", "bw.bcv", "bw.nrd0", "coef", "complete.cases",
               "cor", "cov", "density", "dnorm", "dunif", "lm", "lowess",
               "median", "pchisq", "ppoints", "predict", "predict.lm",
               "princomp", "qchisq", "qnorm", "qqplot", "quantile",
               "rnorm", "runif", "sd", "var")
    importFrom("utils", "data","packageDescription")
    importFrom("rpanel","rp.control","rp.slider","rp.radiogroup","rp.checkbox")
    importFrom("mvtnorm","rmvnorm")
    importFrom("ks","rmvnorm.mixt","kde")
    importFrom("ellipse","ellipse")
    importFrom("MASS","bandwidth.nrd")


export(MLA.group.density.plot)
export(MLA.quantile.plot)
export(MLA.summ.mat)
export(summ)
export(Mahala.factor)
export(mahala.x)
export(drawbivnorm)
export(MLA.bivariate.normal)
export(MLA.explor.pairs)
export(MLA.explor.plot2D)
export(MLA.first4)
export(MLA.freq)
export(MLA.pca3d)
export(MLA.plot.norm)
export(MLA.plot.freq)
export(MLA.trivariate.normal)
export(mahala.x)
export(allsizes)
export(complete)
export(cvlikely)
export(data.sample)
export(dimensions)
export(dnormal.mix2)
export(dnormbiv)
export(draw1)
export(enlarged.range)
export(eqm.sim)
export(eqm.sim.cv)
export(gauss.01)
export(kde2dr)
export(key.press)
export(myplot.grouped.bin)
export(order.var)
export(panel.H1)
export(panel.lmsm)
export(parametric.line3d)
export(plotbiasv)
export(MLA.regression3d)
export(MLA.contour3d)
export(ripart)
export(rnormal.mix2)
export(rnormal.mix2biv)
export(simul.normalmix2)
export(xy.grid)
export(xyz.grid)
